<?xml version="1.0" encoding="UTF-8"?>
<!--
    1、哪些类需要我来管理
    2、怎么告诉我这些类(bean标签)
    3、怎么维护依赖关系(setter方法或构造方法)
    4、怎么体现setter或者构造方法（使用property或constructor内嵌标签）

    spring就是通过bean标签来完成上面两个操作的
-->
<beans>
    <!--
        下面面的XML配置文件的含义就是我们将UserDaoImpl和UserServiceImpl装配到spring容器中，将他们的id分别设置成dao和service
        service的依赖dao，并且通过相应的setter方法/构造方法注入
    -->


    <!--告诉sping容器UserDaoImpl需要它来管理-->
    <bean id="dao" class="priv.priv.cy.dao.UserDaoImpl"></bean>

    <!--告诉sping容器UserServiceImpl需要它来管理-->
    <bean id="service" class="priv.priv.cy.service.UserServiceImpl">
        <!--注入dao对象的前提就是dao对象已经装配给spring容器去管理，所以要先写一个dao对象的bean-->
        <!--注入方法在setter和constructor之中选一个就行，不过要在代码中把需要的构造方法或者setter方法编写出来-->

        <!--
            表示使用setter方法完成注入
            property标签表示使用setter方法完成注意，里面有两个属性，name和ref
            name:表示的是setter方法的名字，name属性的值会去匹配将setter方法中的前缀set去掉之后，再将剩下的首字母小写得到的方法名，如果找到名字一致的注入操作就是由这个setter方法
                 因为我们一般就是用默认生成的stter方法名，所以这个name标签也可以不加，只是为了防止有需要修改setter方法名时，就需要特别指定一下setter方法了
            ref:这个指定的是要将哪个bean注入给service，后面写的是spring容器中bean的id

            所以下面这句话的意思就是我们要将spring容器中id为dao的bean，通过service对象中一个名为dao的stter方法将其注入给service对象
        -->
        <property name="dao" ref="dao"></property>



    </bean>
</beans>